/* Here are example using scss */
@font-face {
  font-family: "SevenOneEight Black";
  src: url("../assets/fonts/SevenOneEight-Black.ttf");
}
@font-face {
  font-family: "SevenOneEight Book";
  src: url("../assets/fonts/SevenOneEight-Book.ttf");
}
@font-face {
  font-family: "SevenOneEight ExtraBold";
  src: url("../assets/fonts/SevenOneEight-ExtraBold.ttf");
}
@font-face {
  font-family: "SevenOneEight Light";
  src: url("../assets/fonts/SevenOneEight-Light.ttf");
}
@font-face {
  font-family: "SevenOneEight Medium";
  src: url("../assets/fonts/SevenOneEight-Medium.ttf");
}

$color-red: #D92E22;
$color-black: #333333;
$color-beige: #BD9C6A;
$color-grey:#EFEFEF;

$container-width-md: 85%;
$container-width-xs: 90%;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-grey;
  color: $color-black;
  font-size: 1.6rem;
  text-align: center;
  font-family: 'SevenOneEight Light';
}


h1 { color: $color-red; margin-bottom: 0; font-family: 'SevenOneEight Book';}
h2 { color: $color-black; margin: 0; font-family: 'SevenOneEight Light';}

hr{
  height: 4px;
  border: 0;
  margin-top: 15px;
  color: $color-black;
  background-color: black;
}

header{
  hr {
    width:125px;
    margin-bottom: 0;
  }
}

.container{
  width: $container-width-md;
  max-width: 1224px;
  margin: auto;
  box-sizing: border-box;
}

.container-filters{
  margin: auto;
  padding: 4rem;

  select:active, select:hover {
    outline-color: red
  }
  select{
    font-size: 18px;
    border: none;
    font-family: 'SevenOneEight Light';
    position: relative;
    top: -8px;
    height: 40px;
    left: -5px;
    padding-left: 15px;
    text-align: center;
    outline: none;
    option:focus {
      outline: none;
    }
  }
  select:hover {
    cursor: pointer;
  }
  select:focus {
    outline: none;
  }
  i{
    background: white;
    padding: 8px;
    color:$color-red;
  }
}
.container-cards{
  margin: auto;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-start;
  article{
    width: 32%;
    margin-bottom: 30px;
    margin-right: 2%;
    font-family: 'SevenOneEight Light';
    div:first-child{
      img{
        width: 100%;
      }
    }
    .desc-card{
      display: flex;
      position:relative;
      top:-5px;
      background-color: #fff;
      padding: 15px;
      div:first-child{
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        p{
          margin: 0;
          font-family: 'SevenOneEight Light';
          display: flex;
          flex-wrap: wrap;
          p{
            margin-right: 5px;
          }
          span{
            i{
              font-size: 17px;
            }
          }
          strong{
            font-family: 'SevenOneEight Medium';
            margin-right: 4px;
          }
        }
        p:nth-child(2){
          margin-bottom:1em;
        }
        div{
          display: flex;
          flex-wrap: wrap;
          span:first-child{
            background-color: $color-black;
            color:#fff;
            font-size:15px;
            padding: 4px;
            margin-right: 15px;
            width: max-content;
          }
          span:nth-child(2){
            background-color: $color-beige;
            color:#fff;
            font-size:15px;
            padding: 4px;
            width: max-content;
          }
        }

      }
      div:nth-child(2){
        display: flex;
        align-items: center;
        margin-left: auto;
        span{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: $color-red;
          color: #fff;
          i{
            font-size:34px;
          }
        }
      }
    }
  }
  article:nth-child(3n +3){
    margin-right: 0;
  }
}

.container-infos{
  margin: auto;
  .promotion{
    padding-bottom: 3rem;
    p{
      margin: 0;
      padding-bottom: 0.5rem;
    }
    strong{
      font-family: 'SevenOneEight ExtraBold';
    }
    hr {
      width:90px;
      margin-top: 10px;
    }
  }

  .members{
    background-color: $color-red;
    color:#fff;
    padding:2rem;
    p{
      margin: 0;
      padding-top: 0.5rem;
    }
    strong{
      font-family: 'SevenOneEight Light';
    }
  }

  .login{
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    padding-top:2rem;
    ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto;
      width:100%;
      padding: 0 30px;
      li:nth-child(2){
        margin-right: 15px;
        margin-left: 15px;
      }
      li{
        display: flex;
        flex-direction: row;
        justify-content: center;
        span:first-child{
          font-size: 4.5em;
          color:$color-red;
          margin-right: 10px;
          top: 5px;
          position: relative;
          font-family: 'SevenOneEight Black';
        }
        span{
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 1em;
          p{
            margin:0;
            text-align: left;
          }
          strong{
            color:$color-red;
            text-align: left;
            font-family: 'SevenOneEight Black';
          }
        }
      }
    }
    button{
      background-color: $color-red;
      width: max-content;
      margin: auto;
      color: #fff;
      border: 0;
      padding: 15px 100px 15px 100px;
      margin-top: 3rem;
    }
  }

}


footer { 
  position: sticky;
  bottom:0;
  background-color: $color-black;
  margin:auto;
  padding: 2rem;
  p{
    color:#fff;
    margin: 0;
  }
  hr {
    width:220px;
    height: 4px;
    border: 0;
    margin-top: 10px;
    background-color: $color-red;
  }
}


// responsive design

@media screen and (max-width: 1024px) {
  .container{
    width: $container-width-xs;
  }
  .container-infos{
    .login{
      ul{
        display: flex;
        flex-direction: column;
        li{
          width:100%;
          justify-content: flex-start;
          span:first-child{
            top: 6px;
          }
          span{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1em;
            p{
              margin:0;
              text-align: left;
            }
            strong{
              color:$color-red;
              text-align: left;
            }
          }
        }
        li:nth-child(2){
          margin-right: 0;
          margin-left: 0;
        }
        li:nth-child(2)::before{
          height:25px;
          width:1px;
          background: $color-black;
          position: relative;
          left:23px;
          top:-14px;
          content:"";
        }
        li:nth-child(2)::after{
          height:25px;
          width:1px;
          background: $color-black;
          position: relative;
          left: -275px;
          top: 72px;
          content:"";
        }
      }
    }
  }
  .container-cards {
    article {
      width: 49%;
    }
    article:nth-child(3n +3){
      margin-right: 2%;
    }
    article:nth-child(2n +2){
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .container{
    width: $container-width-xs;
  }
  .container-cards article {
    width: 100%;
  }
}
